@font-face {
  font-family: 'iconfont';

  src: url('~@/asset/css/layout/iconfont/iconfont.eot?t=1588169057095');
  /* IE9 */
  src: url('~@/asset/css/layout/iconfont/iconfont.eot?t=1588169057095#iefix') format('embedded-opentype'),
  url('~@/asset/css/layout/iconfont/iconfont.woff?t=1588169057095') format('woff'),
  url('~@/asset/css/layout/iconfont/iconfont.ttf?t=1588169057095') format('truetype'),
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('~@/asset/css/layout/iconfont/iconfont.svg?t=1588169057095#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icongenjinren:before {
  content: '\e6d6';
}

.iconjianhao:before {
  content: '\e6d7';
}

.iconkechengdianming:before {
  content: '\e6d8';
}

.iconkecheng:before {
  content: '\e6d9';
}

.iconjiantou:before {
  content: '\e6da';
}

.iconjiakeshiicon:before {
  content: '\e6db';
}

.iconkechenglishi:before {
  content: '\e6dc';
}

.iconlaoshi:before {
  content: '\e6dd';
}

.iconlishi:before {
  content: '\e6de';
}

.iconpinglun:before {
  content: '\e6df';
}

.iconliulan:before {
  content: '\e6e0';
}

.iconqingjia:before {
  content: '\e6e1';
}

.iconqueren:before {
  content: '\e6e2';
}

.iconrenshu:before {
  content: '\e6e3';
}

.iconriqi:before {
  content: '\e6e4';
}

.iconshanchu:before {
  content: '\e6e5';
}

.iconrizhi:before {
  content: '\e6e6';
}

.iconqueke:before {
  content: '\e6e7';
}

.iconshengyu:before {
  content: '\e6e8';
}

.iconshijian:before {
  content: '\e6e9';
}

.iconshoujihao:before {
  content: '\e6ea';
}

.iconsongjifen:before {
  content: '\e6eb';
}

.iconxiala:before {
  content: '\e6ec';
}

.iconshipin:before {
  content: '\e6ed';
}

.iconxiaoquqiehuan:before {
  content: '\e6ee';
}

.icontingke:before {
  content: '\e6ef';
}

.iconshezhi:before {
  content: '\e6f0';
}

.iconsousuo:before {
  content: '\e6f1';
}

.iconxiugai:before {
  content: '\e6f2';
}

.iconyiyoubiaoqian:before {
  content: '\e6f3';
}

.iconxueshengshanchu:before {
  content: '\e6f4';
}

.iconxingzhuang:before {
  content: '\e6f5';
}

.iconxuanzhong:before {
  content: '\e6f6';
}

.iconKEC:before {
  content: '\e6f7';
}

.iconzhuanfa:before {
  content: '\e6f8';
}

.iconzhaopian:before {
  content: '\e6f9';
}

.iconyuyinshuru:before {
  content: '\e6fa';
}

.icontianjiatupian:before {
  content: '\e78d';
}

.iconsuo:before {
  content: '\e61a';
}

.icondui:before {
  content: '\e6ca';
}

.iconbangding:before {
  content: '\e6cb';
}

.iconbianji:before {
  content: '\e6cc';
}

.iconbingjia:before {
  content: '\e6cd';
}

.iconchidao:before {
  content: '\e6ce';
}

.iconbofang:before {
  content: '\e6cf';
}

.iconchehui:before {
  content: '\e6d0';
}

.icongenjinshijian:before {
  content: '\e6d1';
}

.iconjiahao:before {
  content: '\e6d2';
}

.iconjia:before {
  content: '\e6d3';
}

.iconkeqingjia:before {
  content: '\e6d4';
}

.iconfaxinxi:before {
  content: '\e6d5';
}
